{erl_opts, [debug_info, warnings_as_errors]}.

%% Compile nif using port compiler plugin
{plugins, [pc,rebar3_hex]}.
{artifacts, ["priv/epgpme_nif.so"]}.

{port_env, [
  {"CFLAGS", "$CFLAGS   -I/usr/local/include  "}, 
  {"LDFLAGS", "$LDFLAGS  -L/usr/local/lib -lgpgme"}
]}.

{port_specs, [{ "priv/epgpme_nif.so", ["c_src/*.c"] }]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {test, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{eunit_opts, [
    verbose
]}.
